.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
!env.py
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
instance/
*.drawio.*

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.*
*,cover

# Database
*.db
*.sql

# dev images
images/*

# gitkeep empty folders
!.gitkeep

# help resources
help/

